*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 200px 1fr 250px;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    min-height: 100vh;
    padding: 20px;
}
header {
    grid-column: 1 / 4;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}
.sidebar {
    grid-column: 1 / 2;
    background-color: #8f2424c4;
    padding: 20px;
    color: white;
}
.sidebar ul {
    list-style: none;
    margin-top: 20px;
}
.sidebar a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(95, 152, 146, 0.635);
}
.main-content {
    grid-column: 2 / 3;
    background-color: #f4f4f4;
    padding: 20px;
}
.article {
    padding: 20px;
    margin-bottom: 20px;
}
.widget {
    grid-column: 3 / 4;
    background-color: #3c7c81;
    padding: 20px;
}
footer {
    grid-column: 1 / 4;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
}